.footer {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    width: 375px;
    height: 43px;
    left: 0px;
    bottom: 0px;
}

.footer p {
    font-family: "Inter";
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 15px;
/* identical to box height */


color: rgba(47, 47, 47, 0.5);
}
