.footer {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 37px;
}

.footer p {
  font-family: "Inter";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: rgba(47, 47, 47, 0.5);
}
