.see-more__button {
  display: flex;
  justify-content: center;
  background-color: #4285f4;
  border-radius: 4px;
  width: 90%;
  margin: 0 auto;

}

.see-more__button p {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding-top: 16px;
  padding-bottom: 16px;
}
